@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(76, 70, 70);
    height: 2000px;
    width: 100%;
    overflow-x: scroll;

    /* background-repeat: no-repeat;
    background-size: cover; */
}







.exam1 {
    background-image: url(img4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 100px 0px rgb(235, 222, 222);
}


h1 {
    text-align: center;
    font-family: monospace;
    font-weight: 8000;
    font-size: 45px;
    letter-spacing: 13px;
}

.exam1 .navbar {
    position: sticky;
    top: 7px;
}

ul {
    list-style: none;
    background-color: rgba(148, 129, 129, 0.561);
}

ul li {
    display: inline-block;
    position: relative;
    padding-left: 77px;
    padding-right: 77px;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: snow;
    text-decoration: none;
}

ul li ul.dropdown li {
    display: block;
    padding-left: 25px;
    color: snow;
}

ul li ul.dropdown {
    width: 100%;
    background-color: rgba(148, 129, 129, 0.561);
    position: absolute;
    display: none;
}

ul li a:hover {
    background-color: rgb(148, 129, 129);
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li:hover {
    background-color: rgb(148, 129, 129);
    cursor: pointer;
}

/* navbar close here */
/* text massege starting from here */
.text {
    background-color: rgba(255, 0, 0, 0);
    display: inline-block;
    width: 500px;
    height: 400px;
    margin-top: 40px;
    margin-left: 30px;
}

.text #pa1 {
    margin-top: 80px;
}

.text #pa2 {
    /* background-color: green; */
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 273px;
}

/* text glowing effect */
/* .text #pa1{
    animation: 1s ease-in-out infinit alternate;
}
@-webkit-keyframes #pa2{
    form{
        text-shadow:0 0 10px #ff1234
    }

} */
.text #pa1,
#pa2 {
    font-family: 'Great Vibes', cursive;

    font-size: 30px;
    color: rgb(242, 243, 244);
    font-weight: 1300;

}


/*  */
/* image slider */
/* .container{
    margin-top: 55px;
    width: 54%;
    height: 400px;
    position: absolute;
    left: 71%;
    top: 85%;
    transform: translate(-50%, -50%);
    background-image: url(img2.jpg);
    background-size: cover;
    box-shadow: 2px 6px 15px 5px rgb(231, 253, 255);
    animation: slider 45s infinite linear;
    display: inline-block;
} */

@keyframes slider {
    0% {
        background-image: url(desart/d2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    12.5% {
        background-image: url(rainfall/rain2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    25% {
        background-image: url(img1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    37.5% {
        background-image: url(desart/d3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(rainfall/rain3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    62.5% {
        background-image: url(img4.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(desart/de1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    87.5% {
        background-image: url(rainfall/rain4.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/*  */
.exam2 .h2 {
    background-color: rgba(0, 128, 0, 0);
    display: inline-block;
    width: 40%;
    margin-left: 30px;
    height: 180px;
}

/* .imggallery .im1 img{
    width: 25%;
} */

.container1 {
    margin-top: 1000px;
    width: 25%;
    height: 240px;
    position: absolute;
    left: 12.3%;
    top: -15%;
    transform: translate(-50%, -50%);
    background-image: url(img2.jpg);
    background-size: cover;
    box-shadow: 2px 6px 15px 5px rgb(231, 253, 255);
    animation: galleryslider 38s infinite linear;
    display: inline-block;
}

@keyframes galleryslider {
    0% {
        background-image: url(desart/d2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    12.5% {
        background-image: url(rainfall/rain2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    25% {
        background-image: url(img1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    37.5% {
        background-image: url(desart/d3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(city/c4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    62.5% {
        background-image: url(img4.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(desart/d3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    87.5% {
        background-image: url(rainfall/rain4.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container2 {
    margin-top: 1000px;
    width: 25%;
    height: 240px;
    position: absolute;
    left: 37.3%;
    top: -15%;
    transform: translate(-50%, -50%);
    background-image: url(img2.jpg);
    background-size: cover;
    box-shadow: 2px 6px 15px 5px rgb(231, 253, 255);
    animation: galleryslider1 48s infinite linear;
    display: inline-block;
}

@keyframes galleryslider1 {
    0% {
        background-image: url(desart/de1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    12.5% {
        background-image: url(rainfall/rain11.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    25% {
        background-image: url(city/c2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    37.5% {
        background-image: url(city/c3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(rainfall/rain3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    62.5% {
        background-image: url(ma5.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(desart/de1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    87.5% {
        background-image: url(rainfall/rain4.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container3 {
    margin-top: 1000px;
    width: 25%;
    height: 240px;
    position: absolute;
    left: 62.3%;
    top: -15%;
    transform: translate(-50%, -50%);
    background-image: url(img2.jpg);
    background-size: cover;
    box-shadow: 2px 6px 15px 5px rgb(231, 253, 255);
    animation: galleryslider2 50s infinite linear;
    display: inline-block;
}

@keyframes galleryslider2 {
    0% {
        background-image: url(oceanimg/oc1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    12.5% {
        background-image: url(oceanimg/ma1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    25% {
        background-image: url(city/c1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    37.5% {
        background-image: url(rainfall/rain10.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(desart/d3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    62.5% {
        background-image: url(oceanimg/ma2);
        background-size: cover;
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(rainfall/rain11.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    87.5% {
        background-image: url(desart/d3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container4 {
    margin-top: 1000px;
    width: 25%;
    height: 240px;
    position: absolute;
    left: 87.3%;
    top: -15%;
    transform: translate(-50%, -50%);
    background-image: url(img2.jpg);
    background-size: cover;
    box-shadow: 2px 6px 15px 5px rgb(231, 253, 255);
    animation: galleryslider3 30s infinite linear;
    display: inline-block;
}

@keyframes galleryslider3 {
    0% {
        background-image: url(oceanimg/ma9.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    12.5% {
        background-image: url(oceanimg/ma8.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    25% {
        background-image: url(img4.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    37.5% {
        background-image: url(city/c4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(rainfall/rain8.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    62.5% {
        background-image: url(desart/d10.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(oceanimg/ma2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    87.5% {
        background-image: url(city/c3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container5 {
    margin-top: 1259px;
    width: 33.33%;
    height: 240px;
    position: absolute;
    left: 17%;
    top: -15%;
    transform: translate(-50%, -50%);
    background-image: url(img2.jpg);
    background-size: cover;
    box-shadow: 2px 6px 15px 5px rgb(231, 253, 255);
    animation: galleryslider4 53s infinite linear;
    display: inline-block;
}

@keyframes galleryslider4 {
    0% {
        background-image: url(city/c1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    12.5% {
        background-image: url(city/c4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    25% {
        background-image: url(rainfall/rain8.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    37.5% {
        background-image: url(rainfall/rain5.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(desart/d3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    62.5% {
        background-image: url(city/c3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(oceanimg/ma5.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    87.5% {
        background-image: url(rainfall/rain12.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container6 {
    margin-top: 1259px;
    width: 32.33%;
    height: 240px;
    position: absolute;
    left: 50.33%;
    top: -15%;
    transform: translate(-50%, -50%);
    background-image: url(img2.jpg);
    background-size: cover;
    box-shadow: 2px 6px 15px 5px rgb(231, 253, 255);
    animation: galleryslider5 44s infinite linear;
    display: inline-block;
}

@keyframes galleryslider5 {
    0% {
        background-image: url(rainfall/rain6.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    12.5% {
        background-image: url(rainfall/rain10.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    25% {
        background-image: url(rainfall/rain8.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    37.5% {
        background-image: url(rainfall/rain7.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(oceanimg/ma6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    62.5% {
        background-image: url(desart/d2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(rainfall/rain6.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    87.5% {
        background-image: url(rainfall/rain5.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container7 {
    margin-top: 1259px;
    width: 33.36%;
    height: 240px;
    position: absolute;
    left: 83.3%;
    top: -15%;
    transform: translate(-50%, -50%);
    background-image: url(img2.jpg);
    background-size: cover;
    box-shadow: 2px 6px 15px 5px rgb(231, 253, 255);
    ;
    animation: galleryslider6 40s infinite linear;
    display: inline-block;
}

@keyframes galleryslider6 {
    0% {
        background-image: url(city/c1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    12.5% {
        background-image: url(oc1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    25% {
        background-image: url(c3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    37.5% {
        background-image: url(img2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(rain3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    62.5% {
        background-image: url(img3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(rain11.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    87.5% {
        background-image: url(rain10.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* styling foe photo album */

.photolist {
    margin-top: 680px;
    width: 100%;
    height: 530px;
    border: 2px solid snow;
    background-color: rgb(166, 166, 166);
    /* background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%); */
    overflow: scroll;

}

.photolist ul li h2 {
    padding-left: 104px;
    padding-top: 10px;
}

.photolist ul li .post1 {
    /* background-color:  rgb(190,190,190); */
    background: linear-gradient(to bottom right, #49fff0 0%, #e74eff 100%);
    border: 2px solid rgb(0, 0, 0);
    /* box-shadow: 10px 0px 20px 0px solid rgb(255, 10, 10); */
    border-radius: 20px;
    height: 500px;
    width: 326px;
    margin-left: -22px;
    margin-right: -8px;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
}

.photolist ul li .post1 img {
    padding-top: 20px;
    width: 319px;

}

.photolist ul li p {
    width: 96.5%;
    height: 253px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: cursive;
    font-weight: 800;
    font-size: 19px;
}

.photolist ul li .post2 {
    /* background-color:  rgb(190,190,190); */
    background: linear-gradient(to top left, #56d5ff 0%, #fc9ecd 100%);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    height: 500px;
    width: 326px;
    margin-left: -22px;
    margin-right: -8px;
    display: inline-block;
    overflow: hidden;
}

.photolist ul li .post2 img {
    padding-top: 20px;
    width: 319px;

}

.photolist ul li .post3 {
    /* background-color:  rgb(190,190,190); */
    background: linear-gradient(to bottom right, #b862ff 0%, #6cff69 100%);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    height: 500px;
    width: 326px;
    margin-left: -22px;
    margin-right: -8px;
    display: inline-block;
    overflow: hidden;
}

.photolist ul li .post3 img {
    padding-top: 23px;
    width: 319px;


}

/* stylng note 2 from here */
.note2 {
    width: 70%;
    height: 500px;
    border: 5px solid snow;
    font-family: 'Tangerine', cursive;
    color: black;
    margin-left: 200px;
    margin-top: 100px;
    background-image: url(logo/silver3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.note2 p {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 176px;
    font-size: 38px;
    line-height: 1.1;
    font-weight: 1000;
    text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.566);
}

.note2 h2 {
    margin-left: 581px;
    margin-top: 61px;
    font-size: 36px;
    font-weight: 1000;
    letter-spacing: 0.092em;
    text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.566);
}

/*  */
/* stytling from here to photographer and their arts */
/* /*  */
/*  */
/* from here styling photographer3 */
.photographer1 {
    width: 100%;
    height: 654px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 10px 0px 40px 10px rgb(190, 190, 190);
    margin-top: 143px;
    padding-top: 55px;
    /* styling color gradient */
    background-color: rgb(220, 220, 220);
    animation: change1 11s linear infinite;
}

@keyframes change1 {
    0% {
        background-color: rgb(220, 220, 220);
    }

    20% {
        background-color: rgb(201, 192, 187);
    }

    40% {
        background-color: rgb(190, 190, 190);
    }

    60% {
        background-color: rgb(211, 211, 211);
    }

    80% {
        background-color: rgb(190, 190, 190);
    }

    100% {
        background-color: rgb(169, 169, 169);
    }


}

.photographer1 .box1 {
    border: 1px solid rgb(5, 4, 4);
    box-shadow: 10px 0px 30px 0px black;
    width: 500px;
    height: 500px;
    margin-left: 30px;
    display: inline-block;
    background-image: url(logo/neha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.photographer1 .text1 {
    border: 2px solid black;
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
    border-style: dashed;
    box-shadow: 10px 0px 30px 0px rgb(0, 0, 0);
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);
    width: 544px;
    height: 200px;
    display: inline-block;
    margin-left: 171px;
    margin-top: 144px;
    margin-bottom: 300px;
    padding-top: 40px;
    padding-left: 40px;
    font-family: 'Great Vibes', cursive;
    font-size: 26px;
    color: #000000;
    font-weight: 600;
    word-spacing: 0.112px;
}


.photographer1 .text1 .para1 {
    margin-top: -345px;
    border: 2px solid rgba(255, 0, 0, 0);
    width: 544px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}

.photographer1 .para1 button {
    width: 164px;
    height: 37px;
    border-radius: 26px;
    box-shadow: 10px 0px 20px 0px rgb(0, 0, 0);
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);
}

.photographer1 .para1 button:hover {
    cursor: pointer;
    width: 164px;
    height: 37px;
    border-radius: 26px;
    background-color: rgb(152, 152, 152);
    color: whitesmoke;
    border: 2px solid black;
    box-shadow: 10px 10px 30px 0px rgba(11, 3, 3, 0.71);

}

/* stytling photographer2 from here */
.photographer2 {
    width: 100%;
    height: 600px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 10px 0px 40px 10px rgb(190, 190, 190);
    margin-top: 45px;
    background-color: rgb(190, 190, 190);
    animation: change2 11s linear infinite;
}

@keyframes change2 {
    0% {
        background-color: rgb(220, 220, 220);
    }

    20% {
        background-color: rgb(201, 192, 187);
    }

    40% {
        background-color: rgb(190, 190, 190);
    }

    60% {
        background-color: rgb(211, 211, 211);
    }

    80% {
        background-color: rgb(190, 190, 190);
    }

    100% {
        background-color: rgb(169, 169, 169);
    }


}

.photographer2 .text2 {
    border: 2px solid rgb(0, 0, 0);
    background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
    border-style: dashed;
    width: 500px;
    height: 165px;
    margin-left: 30px;
    margin-top: 221px;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    font-weight: 800;
    padding: 30px;
    color: rgb(0, 0, 0);
    box-shadow: 10px 0px 30px 5px black;
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);
}

.photographer2 .box2 {
    width: 500px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    margin-left: 176px;
    background-image: url(logo/abhi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    word-spacing: 0.575px;
    box-shadow: 10px 0px 30px 1px black;
}

.photographer2 .text2 .para2 {
    margin-top: -342px;
    border: 2px solid rgba(0, 0, 0, 0);
    height: 60px;
}

.photographer2 .text2 .para2 button {
    cursor: pointer;
    width: 148px;
    height: 29px;
    border-radius: 26px;
    margin-left: 161px;
    margin-top: 13px;
    box-shadow: 10px 0px 20px 0px rgb(0, 0, 0);
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);
}

.photographer2 .text2 .para2 button:hover {
    background-color: rgb(152, 152, 152);
    color: whitesmoke;
    border: 2px solid black;
    box-shadow: 10px 0px 40px 0px rgb(0, 0, 0);

}

/* stylng note 3 from here */
.note3 {
    width: 70%;
    height: 500px;
    border: 5px solid snow;
    font-family: 'Tangerine', cursive;
    color: black;
    margin-left: 200px;
    margin-top: 150px;
    margin-bottom: 150px;
    background-image: url(logo/silver3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.note3 p {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 176px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 38px;
    line-height: 1.1;
    font-weight: 1000;
    text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.566);
}

.note3 h2 {
    margin-left: 581px;
    margin-top: 61px;
    font-size: 36px;
    font-weight: 1000;
    letter-spacing: 0.092em;
    text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.566);
}

/* styling photographer3 */
.photographer3 {
    width: 100%;
    height: 600px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 10px 0px 40px 10px rgb(190, 190, 190);
    margin-top: 50px;
    background-color: rgb(152, 152, 152);
    animation: change3 11s linear infinite;
}

@keyframes change3 {
    0% {
        background-color: rgb(220, 220, 220);
    }

    20% {
        background-color: rgb(201, 192, 187);
    }

    40% {
        background-color: rgb(190, 190, 190);
    }

    60% {
        background-color: rgb(211, 211, 211);
    }

    80% {
        background-color: rgb(190, 190, 190);
    }

    100% {
        background-color: rgb(169, 169, 169);
    }


}

.photographer3 .box3 {
    width: 500px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 10px 0px 30px black;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    background-image: url(logo/anu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.photographer3 .text3 {
    display: inline-block;
    width: 600px;
    height: 200px;
    border: 2px solid rgb(5, 2, 2);
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
    border-style: dashed;
    box-shadow: 10px 0px 30px 0px black;
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);
    margin-top: 201px;
    margin-left: 97px;
    padding: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    font-size: 26px;
    word-spacing: 0.41px;

}

.photographer3 .text3 .para3 {
    width: 600px;
    height: 60px;
    border: 2px solid rgba(255, 250, 250, 0);
    margin-top: -335px;
    padding-top: 10px;
}

.photographer3 .text3 .para3 button {
    cursor: pointer;
    width: 144px;
    height: 34px;
    margin-left: 219px;
    border-radius: 26px;
    box-shadow: 10px 0px 20px 0px rgb(0, 0, 0);
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);
}

.photographer3 .text3 .para3 button:hover {
    background-color: rgb(152, 152, 152);
    color: whitesmoke;
    border: 2px solid black;
    box-shadow: 10px 0px 40px 0px rgb(0, 0, 0);

}

/* styling photographer4 from here */
.photographer4 {
    width: 100%;
    height: 600px;
    border: 2px solid #000000;
    box-shadow: 10px 0px 40px 10px rgb(190, 190, 190);
    margin-top: 105px;
    background-color: rgb(242, 243, 244);
    animation: change4 11s linear infinite;
}

@keyframes change4 {
    0% {
        background-color: rgb(220, 220, 220);
    }

    20% {
        background-color: rgb(201, 192, 187);
    }

    40% {
        background-color: rgb(190, 190, 190);
    }

    60% {
        background-color: rgb(211, 211, 211);
    }

    80% {
        background-color: rgb(190, 190, 190);
    }

    100% {
        background-color: rgb(169, 169, 169);
    }


}

.photographer4 .text4 {
    width: 600px;
    height: 200px;
    margin-left: 30px;
    margin-top: 245px;
    border: 2px solid rgb(0, 0, 0);
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    border-style: dashed;
    box-shadow: 10px 0px 30px 0px black;
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    padding: 30px;
    font-size: 24px;
    word-spacing: 1.86px;
}

.photographer4 .text4 .para4 {
    width: 600px;
    height: 60px;
    border: 2px solid rgba(255, 255, 0, 0);
    margin-top: -334px;
    padding-top: 10px;
}

.photographer4 .text4 .para4 button {
    cursor: pointer;
    width: 144px;
    height: 34px;
    margin-left: 219px;
    border-radius: 26px;
    box-shadow: 10px 0px 20px 0px rgb(0, 0, 0);
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);


}

.photographer4 .box4 {
    width: 500px;
    height: 500px;
    margin-left: 120px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 10px 0px 30px 0px black;
    display: inline-block;
    border-radius: 50%;
    background-image: url(logo/dhruv.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.photographer4 .text4 .para4 button:hover {
    background-color: rgb(152, 152, 152);
    color: whitesmoke;
    border: 2px solid black;
    box-shadow: 10px 0px 40px 0px rgb(0, 0, 0);
}

/* stylng note 4 from here */
.note4 {
    width: 70%;
    height: 500px;
    border: 5px solid snow;
    font-family: 'Tangerine', cursive;
    color: black;
    margin-left: 200px;
    margin-top: 150px;
    margin-bottom: 150px;
    background-image: url(logo/silver3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.note4 p {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 176px;
    padding-left: 69px;
    padding-right: 69px;
    font-size: 38px;
    line-height: 1.1;
    font-weight: 1000;
    text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.566);
}

.note4 h2 {
    margin-left: 581px;
    margin-top: 61px;
    font-size: 36px;
    font-weight: 1000;
    letter-spacing: 0.092em;
    text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.566);
}

/* stlying photographer5 from here */

.photographer5 {
    width: 100%;
    height: 600px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 10px 0px 40px 10px;
    margin-top: 105px;
    background-color: rgb(220, 220, 220);
    animation: change5 11s linear infinite;
    box-shadow: 10px 0px 30px 10px rgb(190, 190, 190);
}

@keyframes change5 {
    0% {
        background-color: rgb(220, 220, 220);
    }

    20% {
        background-color: rgb(201, 192, 187);
    }

    40% {
        background-color: rgb(190, 190, 190);
    }

    60% {
        background-color: rgb(211, 211, 211);
    }

    80% {
        background-color: rgb(190, 190, 190);
    }

    100% {
        background-color: rgb(169, 169, 169);
    }


}

.photographer5 .box5 {
    width: 500px;
    height: 500px;
    border: 1px solid rgb(1, 1, 1);
    box-shadow: 10px 0px 30px 0px black;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
    background-image: url(logo/anu2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;

}

.photographer5 .text5 {
    width: 600px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);

    background: linear-gradient(to bottom left, #33ccff 7%, #ff99cc 76%);
    box-shadow: 10px 0px 30px 0px black;
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);
    border-style: dashed;
    display: inline-block;
    margin-top: 241px;
    margin-left: 123px;
    color: rgb(0, 0, 0);
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    padding: 30px;
    word-spacing: 1.068px;
    font-size: 24px;
}

.photographer5 .text5 .para5 {
    width: 600px;
    height: 60px;
    border: 2px solid rgba(255, 0, 0, 0);
    margin-top: -370px;
    padding-top: 10px;
}

.photographer5 .text5 .para5 button {
    cursor: pointer;
    width: 144px;
    height: 34px;
    margin-left: 219px;
    border-radius: 26px;
    box-shadow: 10px 0px 20px 0px rgb(0, 0, 0);
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);

}

.photographer5 .text5 .para5 button:hover {
    background-color: rgb(152, 152, 152);
    color: whitesmoke;
    border: 2px solid black;
    box-shadow: 10px 0px 40px 0px rgb(0, 0, 0);

}

/* styling photographer 6 from here */

.photographer6 {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 10px 0px 40px 10px rgb(220, 220, 220);
    background-color: rgb(245, 245, 245);
    animation: change6 11s linear infinite;

}

@keyframes change6 {
    0% {
        background-color: rgb(220, 220, 220);
    }

    20% {
        background-color: rgb(201, 192, 187);
    }

    40% {
        background-color: rgb(190, 190, 190);
    }

    60% {
        background-color: rgb(211, 211, 211);
    }

    80% {
        background-color: rgb(190, 190, 190);
    }

    100% {
        background-color: rgb(169, 169, 169);
    }


}




.photographer6 .text6 {
    width: 600px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    background: linear-gradient(to right, #33ccff 7%, #ff99cc 76%);
    border-style: dashed;
    margin-top: 230px;
    margin-left: 50px;
    display: inline-block;
    color: rgb(0, 0, 0);
    box-shadow: 10px 0px 30px 0px black;
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    padding: 30px;
    word-spacing: 0.882px;
    font-size: 24px;
}

.photographer6 .box6 {
    width: 500px;
    height: 500px;
    margin-left: 87px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 10px 0px 30px 0px black;
    display: inline-block;
    background-image: url(logo/anu3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;

}

.photographer6 .text6 .para6 {
    width: 600px;
    height: 60px;
    border: 2px solid rgba(255, 0, 0, 0);
    margin-top: -390px;
    padding-top: 10px;
}

.photographer6 .text6 .para6 button {
    cursor: pointer;
    width: 144px;
    height: 34px;
    margin-left: 219px;
    border-radius: 26px;
    box-shadow: 10px 0px 20px 0px rgb(0, 0, 0);
    text-shadow: 5px 7px 9px rgba(0, 0, 0, 0.566);

}

.photographer6 .text6 .para6 button:hover {
    background-color: rgb(152, 152, 152);
    color: whitesmoke;
    border: 2px solid black;
    box-shadow: 10px 0px 40px 0px rgb(0, 0, 0);

}

/* photographer completed */

/* styling footer from here */
.footer {
    width: 100%;
    height: 300px;
    padding-top: 30px;
    padding-left: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: black;
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%, #5cff33 0%);
    animation: change 7s linear infinite;
    margin-top: 50px;
}

@keyframes change {
    0% {
        background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%, #5cff33 0%);

    }

    20% {
        background: linear-gradient(to bottom left, #f176ff 0%, #63f7ff 100%, #5cff33 0%);

    }

    0% {
        background: linear-gradient(to top right, #468cf5 0%, #996ed6 100%, #5cff33 0%);

    }

    0% {
        background: linear-gradient(to top left, #33e0ff 0%, #e176ff 100%, #5cff33 0%);

    }

    0% {
        background: linear-gradient(to right, #bdff8ad9 0%, #78fbff 100%, #5cff33 0%);

    }

    0% {
        background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%, #5cff33 0%);

    }
}

.footer table {
    border: 2px solid rgba(255, 0, 0, 0);
    display: inline-block;
}

.footer table tr td {
    border: 2px solid rgba(0, 255, 0, 0);
    width: 214px;
    height: 42px;
    padding: 6px;
    text-align: center;
}

.footer table tr td:hover {
    background: linear-gradient(to bottom left, #0066ff 0%, #cc66ff 72%);
    background: linear-gradient(to bottom left, #66ffff 33%, #ff99ff 67%);
    /* background: red; */

    color: black;
}

.footer table a {
    color: snow;
    text-decoration: none;

}

.footer table tr td:hover a {
    color: black;
}

/* styling info into footer */
.footer .info {
    display: inline-block;
    width: 100%;
    height: 170px;
    border: 2px solid rgba(255, 255, 0, 0);
}

.footer .info table tr td {
    color: snow;
    width: 443px;
    height: 7px;
    border: 2px solid rgba(0, 255, 0, 0);
}

.footer .info table tr td:hover {
    color: black;

}
.footer .info table tr td{
    color: black;
}
.footer table tr a{
    color: black;
}